absl-py==0.10.0
appdirs==1.4.3
attrs==20.2.0
CacheControl==0.12.6
certifi==2019.11.28
cfgv==3.2.0
chardet==3.0.4
cloudpickle==1.3.0
colorama==0.4.3
contextlib2==0.6.0
decorator==4.4.2
distlib==0.3.1
distro==1.4.0
filelock==3.0.12
future==0.18.2
gym==0.17.2
html5lib==1.0.1
identify==1.5.2
idna==2.8
importlab==0.5.1
importlib-metadata==1.7.0
ipaddr==2.2.0
-e git+https://github.com/lcm-proj/lcm/@e7ab2d568510f7ec3018e1e0224c56654a4a42ef#egg=lcm&subdirectory=lcm-python
lockfile==0.12.2
-e git+https://github.com/yxyang/locomotion_simulation.git@890e4d8f7b77b99b1abc8bd58ebe5dbc3e8b5704#egg=locomotion_simulation
msgpack==0.6.2
networkx==2.5
ninja==1.10.0.post2
nodeenv==1.5.0
numpy==1.19.2
packaging==20.3
pep517==0.8.2
pre-commit==2.7.1
progress==1.5
pybullet==3.0.1
pyglet==1.5.0
pyparsing==2.4.6
pytoml==0.1.21
pytype==2020.9.16
PyYAML==5.3.1
requests==2.22.0
retrying==1.3.3
scipy==1.5.2
six==1.14.0
toml==0.10.1
tqdm==4.49.0
typed-ast==1.4.1
urllib3==1.25.8
virtualenv==20.0.31
webencodings==0.5.1
zipp==3.1.0
